<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="diegobr.crud_alumnos" >

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".AgregarAlumnos"
            android:label="@string/app_name" >
            <!---<intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter> -->
        </activity>
        <activity
            android:name=".Activity_mostrar"
            android:label="@string/title_activity_activity_mostrar" >
        </activity>
        <activity
            android:name=".FrmConsulta"
            android:label="@string/title_activity_frm_consulta"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".ActividadPrincipal"
            android:label="@string/title_activity_actividad_principal"
            android:theme="@style/AppTheme.NoActionBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".BuscarAlumnos"
            android:label="@string/title_activity_buscar_alumnos"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".EliminarAlumnos"
            android:label="@string/title_activity_eliminar_alumnos"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".ModificarAlumnos"
            android:label="@string/title_activity_modificar_alumnos"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
    </application>

</manifest>
